<div class="modal-header" style="text-align: center; background-color: #D0EDFE; border-radius:5px;">
    <h5 style="text-align:center;  border-radius:5px;">Сообщение</h5>
</div>
<div class="modal-body" style="text-align: center">
    <br />
    <h5>@ViewBag.Message</h5>
    <br />
</div>
<div class="modal-footer" style="text-align: center">
    <button type="button" onclick="location.reload()" class="btn btn-default" data-dismiss="modal" style="min-width:100px">OK</button>
</div>






